@import "tailwindcss";
@plugin "daisyui";

@layer utilities {

    /* Ken Burns Zoom Effect */
    .animate-slow-zoom {
        animation: slow-zoom 20s ease-in-out infinite alternate;
    }

    @keyframes slow-zoom {
        0% {
            transform: scale(1);
        }

        100% {
            transform: scale(1.15);
        }
    }
}

/* Custom Swiper Pagination Styling */
.mpl-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background: white;
    opacity: 0.5;
    border-radius: 99px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.mpl-pagination .swiper-pagination-bullet-active {
    width: 40px;
    background: #3b82f6;
    /* Tailwind blue-500 */
    opacity: 1;
}